tr:hover {
    background-color: #d8f4ac !important;
    opacity: 1;
}

td,
th {
    background-color: none !important;
}

.table> :not(caption)>*>* {
    background: none !important;
}
input{
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}